<a href="https://colab.research.google.com/github/kje0058/my_study/blob/main/a_0501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=[5,4,3,2,1]
b=a[:]

In [3]:
print(id(a),id(b))

1436072464256 1436072265984

In [4]:
b

[5, 4, 3, 2, 1]

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
b

In [ ]:
a=[5,4,3,2,1]
b=a.copy()
print(id(a),id(b))

In [ ]:
a.sort()
a

In [ ]:
b

In [ ]:
a

In [ ]:
import copy
a=[5,4,3,2,1]
b=copy.deepcopy(a)
print(id(a),id(b))

In [ ]:
a.sort()
a

In [ ]:
b

In [ ]:
a

In [ ]:
a=[5,4,3,2,1]
b=a[:]
print(id(a),id(b))

In [ ]:
b

In [ ]:
a.sort()
a

In [ ]:
b

In [ ]:
a=[[1,2],[3,4,]]
a
b=a[:]
a[0][1]=100
a
b

스택 큐 구별
튜플의 연산
가변공간(플레이솔더)

In [ ]:
3 or 4 # 숫자 vs 숫자 : 작은수

In [ ]:
3 and 4 # 숫자 vs 숫자 : 큰 수

In [ ]:
3 & 4 # 논리연산자가 아님 비트연산자
# 0011 & 0100->0000

In [5]:
a=10
b=10

In [6]:
a=b

In [7]:
a is b

True

In [8]:
a=300
b=300

In [9]:
a==b

True

In [10]:
a is b

False

In [11]:
a=-5
b=-5
a is b

True

In [12]:
a=-6
a=-6
a is b

False

In [ ]:
a=[1,2,3,4,5]
b=a[:]

In [ ]:
a

In [ ]:
b

In [ ]:
a is b

In [ ]:
import copy
a=[1,2,3,4,5]
b=copy.deepcopy(a)

In [ ]:
a

In [ ]:
b

In [ ]:
a is b

In [ ]:
a=100
if a>0 and (a%2)==0:
  print('a is even')

In [ ]:
5 and 7

In [ ]:
7 & 13 # 0111 & 1101

In [ ]:
7 and 13

In [ ]:
13 & 7 # 0111 & 1101

In [ ]:
a=100
if a>0 or (a%2)!=0:
  print('a is even')

In [ ]:
5 or 7

In [ ]:
7 or 13

In [1]:
7 | 13 # | : 비트연산자로 작동 됨. # 0111 | 1101

15

In [2]:
13 | 7 # # 0111 | 1101

15

연습문제 5-1  
b로 a를 나눈 나머지가 3초과면 실패 3이면 무승부, 3미만이면 성공이 출력되도록 만들어보자

In [ ]:
a=34
b=4
if a%b>3:
  print("실패")
elif a%b==3:
  print("무승부")
else:
  print("성공")

In [ ]:
a =34
b =4 

r = a%b

if r>3:
    print('실패')
elif r==3:
    print('무승부')
else :
    print('성공')

연습문제 5-3  
무슨 학교에 다니세요?
태어난 연도를 계산하여 학교 종류를 맞추는 프로그램
나이는 현재연도-태어난연도+1로 계산
26세 이하 20세 이상이면 "대학생"
20세 미만 17세 이상이면 "고등학생"
17세 미만 14세 이상이면 "중학생"
14세 미만 8세 이상이면 "초등학생"
그외의 경우는 "학생이 아닙니다" 출력

In [ ]:
year1=input("당신이 태어난 년도를 입력하세요")
age1=2023-int(year1)+1
if 20<=age1<=26:
  print("대학생")
elif 17<=age1<20:
  print("고등학생")
elif 14<=age1<17:
  print("중학생")
elif 8<=age1<14:
  print("초등학생")
else:
  print("학생이 아닙니다.")

In [ ]:
birth_year = int(input('당신의 태어난 년도를 입력해주세요.'))

age = 2023 - birth_year+1

message = ""

if 20<=age and age<=26:
    message="대학생"
elif 17<=age and age<20:
    message="고등학생"
elif 14<=age and age<17:
    message="중학생"
elif 8<=age and age<14:
    message="초등학생"
else:
    print('학생이 아닙니다.')

print(message)

연습문제 5-5  
양의 정수 하나를 입력받아 이 정수가 2의 배수인지 3의 배수인지 작성하시오

In [ ]:
num1=int(input("양의정수"))

if num1%2==0 :
  if num1%3==0 :
    print("2와 3의 배수")
  else :
    print("2의배수")
elif num1%3==0 :
  print("3의배수")
else:
  print("숫자")

In [ ]:
num = int(input('정수를 하나 입력하세요.'))

if num %2==0:
    if num%3==0:
        print('2와 3으로 나누어 집니다.')
    else : 
        print('2로 나누어집니다.')
elif num %3==0:
    print('3으로 나누어 집니다.')
else:
    print('어느 것으로도 나누어지지 않습니다.')

In [ ]:
for i in range(5,-1,-1):
  print(i)

변수의 범위 지정하기  
2) 자료형으로 범위

In [ ]:
word='hello'
for i in word:
  print(i)

In [ ]:
i=0
for j in range(0,11):
  i=j+1
  print(i)

(1) 계단형

In [ ]:
n=int(input("n:"))
for i in range(n):
  print(" "*i, end="") # end의 역할 sep와 비슷한 기능(구분자로 사용)
  print("*"*n)

(2) 삼각형

In [ ]:
n=int(input("n:"))
for i in range(1, n+1):
  print("*"*i)

(2)-1

In [ ]:
n=int(input("n:"))
for i in range(1, n+1):
  print(" "*(n-i), end="")
  print("*"*i)

(3) 역삼각형

In [ ]:
n=int(input("n:"))
for i in range(n):
  print("*"*(n-i))

(3)-1

In [ ]:
n=int(input("n:"))
for i in range(n):
  print(" "*i, end="")
  print("*"*(n-i))

(4) 피라미드

In [ ]:
n=int(input("n:"))
for i in range(1, n+1):
  print(" "*(n-i), end="")
  print("*"*(2*i-1))

참고 : https://songsw.tistory.com/30

연습문제 3

In [ ]:
x=[3,6,9,20,-7,5]

In [ ]:
for i in x:
  print(i*10)

In [ ]:
# 심화
for i in range(0,len(x)):
  x[i]=x[i]*10
print(x)

2번 문제

In [ ]:
y={"math":70, "science":80, "english":20}
for key in y:
  val=y[key]
  y[key]=y[key]+10
  print("%s:%d"%(key,val+10))

p.191 임의의 값 할당

In [ ]:
import random
true_value=random.randint(1,100) 
input_value=99999 # 임의의 값 할당
print("숫자를 맞춰보세요(1~100):")
num1=int(input("숫자 입력:"))
while True:
  if input_value>num1:
    print("숫자가 너무 작습니다.")
    num1=int(input("숫자 입력:"))
    continue
  elif input_value<num1:
    print("숫자가 너무 큽니다.")
    num1=int(input("숫자 입력:"))
    continue
  else:
    break
print("정답입니다. 입력한 숫자는",input_value,"입니다.")

In [ ]:
import random
true_value=random.randint(1,100) 
input_value=99999 # 임의의 값 할당
print("숫자를 맞춰보세요.")

while true_value !=input_value:
  input_value=int(input())

  if input_value>true_value:
    print("숫자가 너무 큽니다.") # 사용자의 입력값이 true_value보다 클때
  else:
    print("숫자가 너무 작습니다.") # 사용자의 입력값이 true_value보다 작을때
print(f"정답입니다. 입력한숫자는 {true_value}입니다.")

연습문제5
word=["shool", "game", "piano","science", "hotel","mountain"] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요

In [ ]:
word=["school", "game", "piano","science", "hotel","mountain"]
a=list()
for i in range(len(word)):
  if len(word[i])>=6:
    a.append(word[i])
print(a)

P.193 연습문제6

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("3과5의공배수")
  elif i%3==0:
    print("3의 배수")
  elif i%5==0:
    print("5의 배수")
  else:
    print(i)

In [ ]:
# 심화문제

b=int(input("정수를 입력하세요."))
if b<=0:
  print("음수는 정의하지않음")
else:
  for i in range(1,b+1):
    if i%3==0 and i%5==0:
      print("3과 5의 공배수")
    elif i%3==0:
      print("3의 배수")
    elif i%5==0:
      print("5의 배수")
    elif 1<=i<=100:
      print(i)
    else:
      print('1과 100사이 숫자가 아닙니다.')

연습문제7  
사용자로부터 숫자를 계속 입력받다가 s or S를 입력하면 합계출력

In [ ]:
c=0
d=1
while (d==1):
  a=input()
  if a=="s" or a=="S":
    d=0
  else:
    a=int(a)
    c+=a
print(c)

50
0
30
20
s
100

얀습문제8  
사람별 평균을 구하라.

In [ ]:
kor_score = [39,69,29,100,80]
math_score = [32,59,85,30,90]
eng_score = [49,70,48,60,100]

mideterm_score = [kor_score, math_score,eng_score]

student_score=[0,0,0,0,0]
i=0
for subject in mideterm_score: #kor,math,eng 과목 선택
    for score in subject: #과목 선택후
        student_score[i]+=score #각 학생마다 개별로 교과 점수를 저장
        # print(subject,score,'i:',i,student_score) #kor->math->eng 
        i+=1 #학생 index 구분
    i=0 # 과목이 바뀔 때 학생 인덱스
else:
    a,b,c,d,e = student_score  #학생별 점수를 unpacking
    student_average=[a/3,b/3,c/3,d/3,e/3]
    print(student_average)

[40.0, 66.0, 54.0, 63.333333333333336, 90.0]

In [ ]:
print("나눗셈을 진행합니다. {:.20f}".format(1/3))

나눗셈을 진행합니다. 0.33333333333333331483

https://colab.research.google.com/drive/1ui5VjU3VbQ0D6SbgruuEm759wqgNFdWN?usp=sharing#scrollTo=BLePwOWUHCEM